:root {
	--primary-light: hsl(150, 50%, 30%);
	--primary-medium: hsl(151, 50%, 20%);
	--primary-dark: hsl(150, 75%, 5%);
	--secondary-light: hsl(230, 90%, 90%);
	--secondary-medium: hsl(230, 100%, 70%);
	--secondary-dark: hsl(230, 100%, 45%);
	--banner: hsl(51, 100%, 97%);
	--font-size-small: 1.1rem;
	--font-size-medium: 1.4rem;
	--font-size-large: 3rem;
	--shadow: rgba(0, 0, 0, 0.5);
	--gap: 0.75rem;
	--small-gap: 0.5rem;
	--big-gap: 2rem;
	--mini-gap: 0.2rem;
	--mega-gap: 5rem;

	background-color: var(--primary-light);
	color: var(--text);
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
}
* {
	margin: 0;
	padding: 0;

	/* border: 1px solid red; */
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

@media screen and (min-width: 600px) {
	:root {
		--font-size-small: 1.2rem;
		--font-size-medium: 1.6rem;
		--font-size-large: 3rem;
		--gap: 1rem;
	}
	.largeImage {
		max-width: 600px;
		max-height: 600px;
		margin: auto;
		padding: var(--gap);
	}
	.art-display {
		max-height: 90vh;
		max-width: 600px;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		--font-size-small: 1.4rem;
		--font-size-medium: 1.8rem;
		--font-size-large: 4.5rem;
	}
	.art-display {
		max-height: 90vh;
		max-width: 1024px;
		display: grid;
		grid-template-areas:
			"large-image full-details"
			"add-art close-window";
		grid-template-columns: 2fr 2fr;
		grid-template-rows: 1fr auto;
	}
}

body {
	min-height: 100dvh;
	min-height: 100vh;
	line-height: 1.6;
}
.layout-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
	min-height: 100vh;
	width: 100%;
}

header {
	grid-area: header;
	width: 100%;
	background: var(--banner);
	text-align: center;
	box-shadow: 0px 4px 8px var(--shadow);
}
main {
	width: 100%;
	height: 100%;
	max-width: 1024px;
	margin: auto;
	grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--gap);
	gap: var(--gap);
}
footer {
	display: flex;
	width: 100%;
	grid-area: footer;
	gap: var(--gap);
	background: var(--banner);
	justify-content: center;
	padding: var(--small-gap);
}
section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: var(--small-gap) var(--big-gap);
	justify-content: space-between;
	align-items: center;
	background-color: var(--banner);
	box-shadow: 0px 4px 8px var(--shadow);
	padding: var(--gap);
	border-radius: 0.1rem;
}

.menu {
	display: flex;
	justify-content: space-evenly;
	max-width: 960px;
	margin: auto;
	font-size: var(--font-size-small);
	font-weight: 600;
	padding: var(--small-gap);
}

.search-input-form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
input[type="text"] {
	flex: 1;
	height: var(--big-gap);
	max-width: 16ch;
	padding: var(--mini-gap) var(--small-gap);
	background-color: var(--secondary-light);
	border-radius: var(--mini-gap);
	border: 1px solid var(--secondary-dark);
	font-family: inherit;
	margin: 0 var(--small-gap);
}

select {
	position: relative;
	font-family: inherit;
	font-size: inherit;
	height: var(--big-gap);
	padding: var(--mini-gap) var(--small-gap);
	background-color: var(--secondary-light);
	border-radius: var(--mini-gap);
	border: 1px solid var(--secondary-dark);
	margin: 0 var(--small-gap);
}

.art-detail-container {
	position: fixed;
	background-color: var(--shadow);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.art-display {
	max-height: 98%;
	max-width: 98%;
	background-color: var(--secondary-light);
	display: grid;
	padding: var(--gap);
	gap: var(--gap);
	grid-template-areas:
		"large-image"
		"full-details"
		"detail-actions";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}
.art-display button {
	font-size: var(--font-size-medium);
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.large-image {
	grid-area: large-image;
	max-width: 90vw;
	max-height: 60vh;
	margin: auto;
}
.full-details {
	grid-area: full-details;
	min-height: 20vh;
	max-width: 600px;
	padding: var(--gap);
	overflow-y: auto;
	background-color: var(--banner);
}

.detail-actions {
	grid-area: detail-actions;
	min-height: 6vh;
	gap: var(--gap);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add-art {
	grid-area: add-art;
	display: flex;
	gap: var(--small-gap);
}
.close-window {
	grid-area: close-window;
	display: flex;
	gap: var(--small-gap);
	text-align: end;
}
.number-of-results {
	justify-content: center;
}
.image-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	padding: var(--gap);
	gap: var(--gap);
	place-items: center;
}
.search-nav {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: var(--big-gap);
}

.search-nav a {
	color: var(--banner);
}
.search-nav a:hover {
	color: var(--primary-dark);
}

.thumbnail {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.small-image {
	max-width: 160px;
	max-height: 160px;
	border: 1px solid black;
	box-shadow: 0px 4px 8px var(--shadow);
}
.small-image:hover {
	max-width: 180px;
	max-height: 180px;
	outline: 1px solid var(--banner);
	transition: 0.1s ease-in-out;
	box-shadow: 4px 4px 32px var(--banner), -4px -4px 32px var(--banner);
}

h1,
h2,
h3 {
	color: var(--primary-medium);
	display: inline;
	line-height: 1.2;
}

h1 {
	font-size: var(--font-size-large);
	font-weight: 400;
}
h2 {
	font-size: var(--font-size-medium);
	font-weight: 600;
}
h3 {
	font-size: var(--font-size-small);
	font-weight: 600;
	color: var(--primary-medium);
	display: block;
}

button {
	font-size: var(--font-size-small);
	background-color: var(--secondary-medium);
	border-radius: var(--mini-gap);
	border: 1px solid var(--secondary-dark);
	display: inline;
	color: blanchedalmond;
	padding: var(--mini-gap) var(--small-gap);
}

button:hover {
	outline: 2px solid var(--shadow);
}

ul li {
	list-style: none;
}

a {
	color: var(--secondary-dark);
	text-decoration: none;
}
a:hover {
	color: var(--secondary-medium);
	text-decoration: underline;
	text-underline-offset: 4px;
}

.loader {
	border: 16px solid var(--secondary-medium);
	border-top: 16px solid var(--primary-medium);
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
	margin: auto;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* ACCESSIBILITY */

.skip-to-content {
	position: absolute;
	padding: var(--mini-gap) var(--gap);
	background-color: black;
	color: white;
	font-size: 20px;
	opacity: 0;
	z-index: -999;
}
.skip-to-content:focus {
	opacity: 1;
	z-index: 9999;
}
